node_modules
npm-debug.log*
.pnp*
.env
.env.local
web/.env.example
.DS_Store
dist
.vscode
.idea
logs/*
!logs/.gitkeep
dashboards/*
!dashboards/demo.json
jobs/*
!jobs/demo.js
!jobs/feed.js
!jobs/metric.js
!jobs/graph.js
themes/*
!themes/demo.css
widgets/*
!widgets/clock
!widgets/clock/**
!widgets/feed
!widgets/feed/**
!widgets/metric
!widgets/metric/**
!widgets/graph
!widgets/graph/**
!widgets/wispers
!widgets/wispers/**
web/src/controllers/*
!web/src/controllers/generated.ts
