node_modules
npm-debug.log*
.pnp*
.env
.env.local
web/.env.example
.DS_Store
dist
.vscode
.idea
logs/*
dashboards/main.json
jobs/ev.js
jobs/forecast.js
.gitignore
jobs/hourly.js
.gitignore
jobs/nest.js
themes/main.css
jobs/roomtemp.js
jobs/stocks.js
jobs/tomorrow.js
widgets/camera/widget.css
widgets/camera/widget.html
widgets/camera2/widget.css
widgets/camera2/widget.html
widgets/ev/widget.css
widgets/ev/widget.html
widgets/ev/widget.ts
widgets/forecast/widget.css
widgets/forecast/widget.html
widgets/hourly/widget.css
widgets/hourly/widget.html
widgets/hourly/widget.ts
widgets/nest/widget.css
widgets/nest/widget.html
widgets/nest/widget.ts
widgets/radar/widget.css
widgets/radar/widget.html
widgets/roomtemp/widget.css
widgets/roomtemp/widget.html
widgets/stocks/widget.css
widgets/stocks/widget.html
widgets/stocks/widget.ts
widgets/tomorrow/widget.css
widgets/tomorrow/widget.html
widgets/tomorrow/widget.ts
widgets/twitchstream/widget.css
widgets/twitchstream/widget.html
widgets/twitchstream/widget.ts
